@model List<RecipeAreaDto>

<div class="recepie_area">


    <div class="container">
        
        <div class="row">
            <recipe-list recipes="@Model"></recipe-list>
        </div>

    </div>

</div>



