@model CreateRecipeDto
<div class="col-lg-8 col-md-8">
	<h3 class="mb-30">Form Element</h3>
	<form method="post" asp-action="AddRecipe">

		<div class="mt-10">
			<input type="text" asp-for="Title" name="Title" placeholder="Yemek Adı"
				   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Yemek Adı'" required
				   class="single-input">
		</div>

		<div class="mt-10">
		@Html.TextBoxFor(r=>r.Title,htmlAttributes:new{@class="form-control",
		@placeholder="Tarifin Başlığını Giriniz"})
		</div>

		<div class="mt-10">
			@Html.TextBoxFor(r => r.Description, htmlAttributes: new
				{
					@class = "form-control",
					@placeholder = "Tarifin Yapılışını Giriniz"
				})
		</div>


		<!-- burası düzeltilecek böyle olmaz-->
		<div class="mt-10">
			@Html.TextBoxFor(r => r.RecipeImageUrl, htmlAttributes: new
				{
					@class = "form-control",
					@placeholder = "Tarifin Fotoğrafını Yükleyin"
				})
		</div>

		<div class="mt-10">
			<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''"
					  onblur="this.placeholder = 'Message'" required></textarea>
		</div>

		@await Component.InvokeAsync("_AddRecipeGetCategoryComponentPartial");
		@await Component.InvokeAsync("_AddRecipeGetMaterialComponentPartial");

	</form>
</div>