@model CreateRecipeDto
<form asp-action="AddRecipe" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" required />
    </div>

    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" required></textarea>
    </div>

   @*  <div>
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" class="form-control" required />
    </div> *@

   
        <input type="hidden" asp-for="UserId" class="form-control" value="@ViewBag.userId"/>


    <div>
        <label asp-for="RecipeImageUrl"></label>
        <input asp-for="RecipeImageUrl" type="file" class="form-control" accept="image/*" />
    </div>


    @await Component.InvokeAsync("_AddRecipeGetCategoryComponentPartial");
    @await Component.InvokeAsync("_AddRecipeGetMaterialComponentPartial");

   @*  <div>
        <label>Materials</label>
        <div id="material-list">
            @for (int i = 0; i < Model.MaterialId.Count; i++)
            {
                <input type="number" name="MaterialId" value="@Model.MaterialId[i]" class="form-control" />
            }
            <button type="button" onclick="addMaterial()">Add Material</button>
        </div>
    </div> *@

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


		

</div>