<div class="input-group-icon mt-10">
    <label for="category">Select Category</label>
    <select class="form-select w-75" id="category" name="CategoryId">
        @foreach (var item in Model)
        {
            <option value="@item.CategoryId">@item.Name</option>
        }
    </select>
</div>
