@model List<ResultAllCategoryDto>
<div class="input-group-icon mt-10">
    <div class="icon"></i></div>
    <div class="form-select" id="default-select" ">
        <select>
    @foreach (var item in Model)
    {
                <option value="@item.CategoryId">@item.Name</option>

    }
        </select>
    </div>
</div>