
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("_RecentRegistersComponentPartial")
    @await Component.InvokeAsync("_RecentRecipesComponentPartial")
    
</div>

@await Component.InvokeAsync("_CategoryPieChartComponentPartial")





