<div class="latest_trand_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="trand_info text-center">
                    <p>Yüzlerce Tarif Seni Bekliyor</p>
                    <h3>En Güzel Tarifleri Keşfet</h3>
                    <a href="#" class="boxed-btn3">Tüm Tarifleri Gör</a>
                </div>
            </div>
        </div>
    </div>
</div>