@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminHeadLayoutComponentPartial")

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar -->
            <div class="col-md-2 ">
                @await Component.InvokeAsync("_AdminSideBarComponentPartial")
            </div>

            <!-- Main Content -->
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("_AdminFooterLayoutComponentPartial")
            @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
        </div>
    </div>

 

</body>
</html>


