@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center">Hakkımızda Güncelleme Sayfası</h2>
    <form class="Index" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="AboutId" />
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" placeholder="Hakkımızda metnini giriniz" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">Güncelle</button>
    </form>
</div>

