@model List<ResultAllMaterialDto>

<div class="input-group-icon mt-10">
    <label for="materials">Select Materials</label>
    <select class="form-select" id="materials" name="MaterialId" multiple>
        @foreach (var item in Model)
        {
            <option value="@item.MaterialId">@item.MaterialName</option>
        }
    </select>
</div>


