<div class="input-group-icon mt-10">
    <label for="materials">Select Materials</label>
    <div id="materials" class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="form-check me-3">
                <input class="form-check-input" type="checkbox" id="material_@item.MaterialId" name="MaterialId" value="@item.MaterialId">
                <label class="form-check-label" for="material_@item.MaterialId">@item.MaterialName</label>
            </div>
        }
    </div>
</div>
