<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muhteşem Yemek Tarifleri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .KendimAyarladim img {
    width: 100%; /* Konteynerin genişliğine uyacak şekilde */
    height: 200px; /* Sabit bir yükseklik */
    object-fit: cover; /* Görüntüyü kırparak sığdırır */
    border-radius: 8px; /* Köşeleri yuvarlamak isterseniz */

     body {
            background-image: url('https://source.unsplash.com/1600x900/?food');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: #333;
        }
        .login-container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 100%;
        }
        .login-container h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin-bottom: 1.5rem;
            color: #555;
        }
        .btn-custom {
            background-color: #ff6347;
            color: #fff;
        }
        .btn-custom:hover {
            background-color: #ff4500;
            color: #fff;
        }

}</style>

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/tasty-recipes-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/themify-icons.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/nice-select.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/flaticon.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/gijgo.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/animate.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/slick.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/slicknav.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>