<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muhteşem Yemek Tarifleri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .KendimAyarladim img {
    width: 100%; /* Konteynerin genişliğine uyacak şekilde */
    height: 200px; /* Sabit bir yükseklik */
    object-fit: cover; /* Görüntüyü kırparak sığdırır */
    border-radius: 8px; /* Köşeleri yuvarlamak isterseniz */
}</style>

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/tasty-recipes-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/themify-icons.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/nice-select.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/flaticon.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/gijgo.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/animate.min.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/slick.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/slicknav.css">
    <link rel="stylesheet" href="~/tasty-recipes-master/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>